@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Open+Sans:wght@400;600;700&display=swap');

body, head {
    font-family: "Open Sans", sans-serif;
}

.navbar-brand {
    font-family: 'Dancing Script', cursive;
    font-size: x-large;
}

.list-table {
    width: 100%;
}

.btn1, .btn1:hover, .btn1:active, .btn1:focus {
    border: none;
    text-transform: uppercase;
    display: inline-block;
    padding: 10px 35px;
    background-color: #ffbe33;
    color: #ffffff;
    border-radius: 45px;
    -webkit-transition: all 1s;
    transition: all 1s;
}

.btn1:hover, .btn1:active, .btn1:focus {
    animation: jelly 0.5s;
}

.btn1:disabled {
    border: none;
    text-transform: uppercase;
    display: inline-block;
    padding: 10px 35px;
    background-color: #ffbe33;
    color: #ffffff;
    border-radius: 45px;
}

.del-btn, .del-btn:hover, .del-btn:active, .del-btn:focus {
    border: none;
    text-transform: uppercase;
    display: inline-block;
    padding: 10px 20px;
    background-color: #ffbe33;
    color: #ffffff;
    border-radius: 45px;
    -webkit-transition: all 1s;
    transition: all 1s;
}

.del-btn:hover, .del-btn:active, .del-btn:focus {
    animation: jelly 0.5s;
}

.fixed-btn, .fixed-btn:hover, .fixed-btn:active, .fixed-btn:focus {
    border: none;
    text-transform: uppercase;
    display: inline-block;
    background-color: gray;
    height: 50px;
    width: 50px;
    margin-right: 30px;
    color: #ffffff;
    border-radius: 100%;
    -webkit-transition: all 1s;
    transition: all 1s;
}

.fixed-btn:hover, .fixed-btn:active, .fixed-btn:focus {
    animation: jelly 0.5s;
}

.send-btn, .send-btn:hover, .send-btn:active, .send-btn:focus {
    border: none;
    text-transform: uppercase;
    display: inline-block;
    padding: 10px 5px;
    background-color: #ffbe33;
    color: #ffffff;
    border-radius: 45px;
    -webkit-transition: all 1s;
    transition: all 1s;
}

.send-btn:hover, .send-btn:active, .send-btn:focus {
    animation: jelly 0.5s;
}

.send-btn:disabled {
    border: none;
    text-transform: uppercase;
    display: inline-block;
    padding: 10px 5px;
    background-color: #ffbe33;
    color: #ffffff;
    border-radius: 45px;
}

.find-btn, .find-btn:hover, .find-btn:active, .find-btn:focus {
    border: none;
    text-transform: uppercase;
    display: inline-block;
    padding: 10px 15px;
    background-color: #ffbe33;
    color: #ffffff;
    border-radius: 45px;
    -webkit-transition: all 1s;
    transition: all 1s;
}

.find-btn:hover, .find-btn:active, .find-btn:focus {
    animation: jelly 0.5s;
}

.img-box img {
    border-radius: 100%;
    border: 5px solid #ffbe33;
    float: left;
    position: relative;
}

.img-box2 img {
    border-radius: 100%;
    border: 5px solid #ffbe33;
}

.profile-img {
    width: 200px;
    height: 200px;
}

.profile-edit-img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 0;
    padding: 0;
}

.profile-btn {
    appearance: none;
    margin: 0;
    padding: 0;
    border-radius: 50%;
    border:none;
    width: 200px;
    height: 200px;
}
.profile-text {
    margin-left: 300px;
    margin-bottom: 20px;
}

.edit-img-box img {
    margin: auto;
    border: 5px solid #ffbe33;
    display:inline-block;
}

.edit-profile-text {
    margin-top: 5px;
    margin-bottom: 10px;
}

.edit-upload {
    display: none;
}

.little-img {
    width: 30px;
    height: 30px;
}

.medium-img {
    width: 60px;
    height: 60px;
    margin-right: 10px;
}

.login-img {
    width: 40px;
    height: 40px;
}

.form-label {
    text-align: right;
    width: 60px;
}

.icon-btn{
    background-color: unset;
    border: none;
}

.icon-btn:hover {
    border: none;
    animation: jelly 0.5s;
}

.icon-btn:active, .icon-btn:focus {
    animation: jelly 0.5s;
}

@keyframes jelly {
    25% {
        transform: scale(0.9, 1.1);
    }

    50% {
        transform: scale(1.1, 0.9);
    }

    75% {
        transform: scale(0.95, 1.05);
    }
}

.star-ratings {
    color: #aaa9a9;
    position: relative;
    unicode-bidi: bidi-override;
    width: max-content;
    -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1.3px;
    -webkit-text-stroke-color: #2b2a29;
}

.star-ratings span {
    margin-right: 3px;
}

.star-ratings-fill {
    color: #fff58c;
    padding: 0;
    position: absolute;
    z-index: 1;
    display: flex;
    top: 0;
    left: 0;
    overflow: hidden;
    -webkit-text-fill-color: gold;
}

.star-ratings-base {
    z-index: 0;
    padding: 0;
}

.star-input {
    cursor: pointer;
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.search-input {
    border: none;
    outline: none;
    border-bottom: solid 1px black;
    text-align: center;
}

.chatting-div {
    width: 100%;
    background-color: white;
    border-radius: 15px;
    padding: 30px;
    margin-bottom: 30px;
}

.join-form {
    position: absolute;
    width: 500px;
    height: fit-content;
    background-color: white;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 15px;
    padding: 30px;
}

.login-form {
    position: absolute;
    width: 350px;
    height: fit-content;
    background-color: white;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 15px;
    padding: 30px;
}

.login-input {
    border: none;
    outline: none;
    border-bottom: solid 1px black;
    color: #636e72;
}

.join-input {
    border: none;
    outline: none;
    border-bottom: solid 1px black;
    color: #636e72;
}

.color-body {
    background-color: #96d1cf ;
}

.bottom-text > a{
    color: grey;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    position: relative;
    overflow: hidden;
}
.bottom-text > a:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 100%;
    bottom: 0;
    background: #96d1cf ;
    height: 2px;
    -webkit-transition-property: right;
    transition-property: right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.bottom-text > a:hover:before, .bottom-text > a:focus:before, .bottom-text > a:active:before {
    right: 0;
}

.alert-fail {
    color: red;
}

.alert-pass {
    color: green;
}

.error-div {
    text-align: left;
    color: red;
    margin-top: 5px;
}