<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/header.html :: head"/>

<!-- iamport.payment.js -->
<script type="text/javascript" src="https://cdn.iamport.kr/js/iamport.payment-1.2.0.js"></script>

<body>
<div th:replace="fragments/header.html :: header"/>
<div class="container px-5">
    <div class="row gx-5 justify-content-center">
        <div class="col-lg-6 py-5">
            <form class="form-group" th:object="${plan}" id="plan">
                <div>
                    <div class="img-box">
                        <img src="/assets/images/default.jpeg" alt="프로필 이미지" class="medium-img">
                    </div>
                    <h5 th:text="'플랜 신청자 : ' + ${plan.userName}"></h5>
                </div>
                <br/>
                <div>
                    <h5 th:text="'플래너 : ' + ${plan.plannerName}"></h5>
                </div>
                <br/>
                <div>
                    <h1>[[${plan.title}]]</h1>
                </div>
                <div>
                    <textarea rows="10" class="w-100" readonly>[[${plan.content}]] </textarea>
                </div>

                <div style="float: left" class="py-3">
                    <span th:text="'작성일 : ' + ${#temporals.format(plan.createdAt, 'yyyy/MM/dd HH:mm:ss')}"></span>
                </div>

                <div align="right" class="py-1">
                    <th:block th:if="${plan.userName == userName} and ${plan.planType == T(com.example.airplanning.domain.enum_class.PlanType).WAITING}">
                        <a class="btn btn1" th:href="@{/plans/{planId}/update (planId=${planId})}">수정</a>
                        <button class="btn btn1" onclick="delete_plan()">삭제</button>
                    </th:block>
                </div>



                    <div align="right" class="py-1" >
                        <button type="button" class="btn btn1" th:if="${plan.planType == T(com.example.airplanning.domain.enum_class.PlanType).ACCEPT} and ${plan.userName == userName}">결제</button>
                    </div>

                    <div align="right" class="py-1">
                        <th:block sec:authorize="hasAuthority('PLANNER')" th:if="${plan.planType == T(com.example.airplanning.domain.enum_class.PlanType).WAITING}">
                            <button type="button" class="btn btn1" onclick="accept_plan()">신청 수락</button>
                            <button type="button" class="btn btn1" onclick="refuse_plan()">신청 거절</button>
                        </th:block>

                        <th:block sec:authorize="hasAuthority('PLANNER')" th:if="${plan.planType == T(com.example.airplanning.domain.enum_class.PlanType).ACCEPT}">
                            <div>수락한 플랜 신청입니다.</div>
                            <button type="button" class="btn btn1" onclick="refuse_plan()">신청 거절로 변경</button>
                        </th:block>

                        <th:block sec:authorize="hasAuthority('PLANNER')" th:if="${plan.planType == T(com.example.airplanning.domain.enum_class.PlanType).REFUSE}">
                            <div>거절한 플랜 신청입니다.</div>
                            <button type="button" class="btn btn1" onclick="accept_plan()">신청 수락으로 변경</button>
                        </th:block>
                    </div>


            </form>
        </div>
    </div>
</div>

<script th:inline="javascript">
   function delete_plan() {

       let planId = [[${planId}]];

        if (confirm("정말 삭제하시겠습니까?")) {
            $.ajax({
                url : '/plans/'+planId+'/delete/',
                type : "GET",
                data : {
                  planId : planId
                },
                success :  function () {
                    location.href="/plans/list"
                }
            });
        }
    }

   function refuse_plan() {

       let planId = [[${planId}]];

       if (confirm("정말 거절하시겠습니까?")) {
           $.ajax({
               url : '/plans/'+planId+'/refuse/',
               type : "GET",
               data : {
                   planId : planId
               },
               success :  function () {
                   location.replace("/plans/"+[[${plan.id}]]);
               }
           });
       }
   }

   function accept_plan() {

       let planId = [[${planId}]];

       if (confirm("신청을 수락 하시겠습니까?")) {
           $.ajax({
               url : '/plans/'+planId+'/accept/',
               type : "GET",
               data : {
                   planId : planId
               },
               success :  function () {
                   location.replace("/plans/"+[[${plan.id}]]);
               }
           });
       }
   }
</script>

</body>
</html>