<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header.html :: head"/>

<body>
<div th:replace="fragments/header.html :: header"/>
<div class="container px-5">
  <div class="row gx-5 justify-content-center">
    <div class="col-lg-8 py-5" align="center">
      <form class="form-group" style="height: 100px;">
        <input type="text" placeholder="키워드를 입력해주세요" class="w-50 search-input">
        <button class="icon-btn"><img src="/assets/images/search.svg" class="little-img"></button>
      </form>
      <br/>
      <table class="table list-table table-hover text-center">
        <thead>
        <tr>
          <th>글 번호</th>
          <th>제목</th>
          <th>작성자</th>
          <th>담당 플래너</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="plans : ${plan}">
          <td>[[${plans.id}]]</td>
          <td th:text="${plans.title}"></td>
          <td th:text="${plans.userName}"></td>
          <td th:text="${plans.plannerName}"></td>
        </tr>
        </tbody>
      </table>
      <div align="right" class="py-1">
        <button class="btn btn1" onclick="location.href='/plans/write'">글 등록</button>
      </div>
      <br/>
      <ul class="pagination justify-content-center">
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        <li class="page-item active"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
</body>
</html>